{% extends 'FilmoBundle::index.html.twig' %}

{% block body %}

    <h2 align="center">Affichage des acteurs</h2>
    <table border="2" align="center" width="40%">
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>prenom</th>
            <th>sex</th>
            <th>datenassance</th>
            <th>action</th>
        </tr>
        {% for a in acteur %}
            <tr>
                <td>{{ a.id }}</td>
                <td>{{ a.nom }}</td>
                <td>{{ a.prenom }}</td>
                <td>{% if a.sexe=="h" %}
                        Homme{% else %} Femme{% endif %}
                </td>
                <td>{{ a.datenaissance|date("d/m/Y") }}</td>
                <td>
                    <ul>
                        <li><a href="{{ path('acteur_edit',{ id: a.id }) }}">Modifier</a></li>
                        <li><a href="{{ path('acteur_del',{ id: a.id }) }}">Supprimier</a></li>
                    </ul>
                </td>
            </tr>

        {% endfor %}
    </table>
    <a href="{{ path("acteur_ajout") }}"><h4 align="center">Ajouter un nouveau Acteur</h4></a>
{% endblock %}